.page-loader-container {
	min-width: 100vw;
	min-height: 100vh;
	max-width: 100vw;
	max-height: 100vh;
	position: fixed;
	top: 0rem;
	z-index: 20;
	-webkit-backdrop-filter: blur(3.5px) drop-shadow(4px 4px 10px #2b40499f);
	backdrop-filter: blur(3.5px) drop-shadow(4px 4px 10px #2b40499f);
	background-color: #00a0af34;
	transition: all 100ms ease-in-out;
	display: flex;
	justify-content: center;
	align-items: center;
	pointer-events: all;
}

.page-loader-hidden {
	opacity: 0;
	pointer-events: none;
	user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
	transition: all 300ms ease-in-out;
}

.page-loader-text {
	font-size: 3rem;
	color: var(--white-highlight-color);
	text-shadow: 4px 4px 10px #2f4a4d9d;
}

.darken-loader {
	background-color: #0040466c;
}
