.portrait-container {
	min-height: 100vh;
	min-width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	@media (min-width: 1024px) {
		flex-direction: row;
	}
	.portrait-text-contents {
		display: flex;
		align-items: flex-end;
		flex-direction: column;

		column-gap: 3rem;
		color: var(--font-main-color);
		@media (min-width: 1024px) {
			flex-direction: row;
		}
		.portrait-title-container {
			display: flex;
			flex-direction: column;
			align-items: flex-start;

			.portrait-pre-title {
				font-family: "Century Gothic";
				font-weight: 400;
				font-size: 4rem;
				margin-left: -33rem;
				text-shadow: 2px 2px 7px #00005980;
			}
			.portrait-title {
				font-family: "Raleway";
				font-size: 6rem;
				font-weight: 1000;
				margin-left: -30rem;
				text-shadow: 2px 2px 12px #0000596b;
				color: var(--font-main-color);
			}
		}
		.portrait-description-container {
			background-size: contain;
			background-position-y: bottom;
			background-position-x: -10%;
			background-repeat: no-repeat;
			display: flex;
			align-items: flex-end;

			.portrait-description {
				font-family: "Century Gothic";
				font-weight: 600;
				font-size: 1.8rem;
				border-radius: 1rem;
				text-shadow: 2px 2px 6px #00005980;
				position: relative;
				// background-color: var(--font-main-color);

				padding: 0.2rem 1rem 4rem;

				color: white;
			}
			.portrait-description-shape-outer-container {
				position: absolute;
				margin-bottom: 1rem;
				.portrait-description-shape-container {
					position: relative;
					min-height: 3rem;
					min-width: 15rem;
					// opacity: 0.95;
					img {
						filter: drop-shadow(2px 2px 10px #00005946);
					}
				}
			}
		}
	}
}
